#number of seconds for each action
sawmillinitialtime=10
windmillinitialtime=10
masonsmillinitialtime=10
#true means wind strength affects action speeds, 0 to 5 seconds. so initialtime - windpower
usewind=true
#maximum number of items that can be done in 1 go, sawmill
maxnums=20
#maximum number of items that can be done in 1 go, windmill
windmillmaxnums = 20

#only change these if conflict with another mod and item IDs
windmilltemplateid=5557
sawmilltemplateid=5558
masonsmilltemplateid=5559