

#for some reason weapons never seem to go faster than 1 hit every 3 seconds.
#also dual wielding doesn't help at all, so factor that in for 1 hand weapons too

#2 handers
headsplitterdamage=18.0F
headsplitterspeed=8.0F

javelindamage=9.0F
javelinspeed=5.0F

#1 handers
spikedclubdamage=8.0F
spikedclubspeed=3.5F

warpickdamage=7.0F
warpickspeed=3.0F

daggerdamage=7.0F
daggerspeed=3.0F